body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./Assets/background\ \(1\).png);
    background-size: contain;
    height: auto;
}

header{
    display: flex;
    justify-content: center;
    padding: 5%;
    justify-content: space-between;
       
}

header button{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border-color: black;
    font-size: 15px;
}

.container1{
    display: flex;
    justify-content: space-between;
}

.girl{
    padding: 10px;
}

.body1{
    text-align: left;
    margin: 20px;
    padding: 40px;
    
}

.p1{
    font-size: 30px;
    
}

.p2{
    color: #29295f;
    font-size: 50px;
    font-weight: 900;
    
}

.p3{
    font-size: 20px;
}

.body1 button{
    padding: 10px 30px;
    text-decoration: none;
    font-size: 24px;
    color: #29295f, #9f9f;
    border: solid thin #9f9f9f;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}


.icons{
    position: relative;
    bottom: -300px;
    font-size: 20px;
}


